@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.modal-admin {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-family: sans-serif;
}

.modal-admin .box-modal {
    width: 400px;
    height: 400px;
    background-color: #ffff;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    left: 40%;
    animation: moveLeft 0.7s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.modal-admin .box-modal h2 {
    width: 100%;
    font-size: 25px;
}

@keyframes moveLeft {
    0% {
        transform: translateY(-500px);
    }

    100% {
        transform: translateY(0);
    }
}

.close-modal-edit-order {
    position: absolute;
    top: 50px;
    right: 33%;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
}


.modal-admin .box-modal .select-order-admin select {
    padding: 15px 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.modal-admin .box-modal .select-order-admin select option {
    padding: 10px 0;
    cursor: pointer;
}

.modal-admin .box-modal .btn-modal-edit-order-admin button {
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.modal-admin .box-modal .btn-modal-edit-order-admin button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-admin .box-modal .btn-modal-edit-order-admin button:active {
    background-color: rgba(0, 0, 0, 0.5);
}