.table-user-admin {
    padding: 50px;
}

.table-user-admin table {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 50px;
}

.table-user-admin table tr th,
td {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-user-admin .search-user-admin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-user-admin .search-user-admin input {
    width: 50%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    font-size: 17px;
    border-radius: 5px;
}

.avatar-user-admin {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
}