.character {
    border: none;
    font-size: 20px;
    border-radius: 8px;

    /* light theme */
    color: #272729;
    background-color: #dcdbdf;
    box-shadow: 0 2px 0 #e4e2f5;
}

.table-forgot-password {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-pin-forgot-password {
    font-size: 13px;
    color: red;
}


.table-forgot-password .box-forgot-password {
    position: relative;
    width: 550px;
    background-color: #ffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.btn-close-forgot-password {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0);
    color: #b5b1b1;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.table-forgot-password .box-forgot-password .image-header-forgot-password {
    width: 70%;
    height: 200px;
    object-fit: contain;
}

.table-forgot-password .box-forgot-password .box-send-code-forgot-password {
    width: 100%;
    font-size: 14px;
    height: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.icon-email-forgot-password {
    font-size: 100px;
    width: 100%;
    color: rgb(248, 208, 162);
}

.change-forgot-password .first-forgot-password {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.change-forgot-password {
    width: 100%;
    padding: 0px 50px 50px 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.change-forgot-password .enter-back-forgot-password {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.change-forgot-password input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    border-radius: 5px;
}

.change-forgot-password .btn-save-change-forgot-password button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
}

.change-forgot-password .btn-save-change-forgot-password button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.box-check-email-forgot-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px;
    font-size: 13px;
}

.box-check-email-forgot-password input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0 15px 10px;
    border-radius: 5px;
}

.box-check-email-forgot-password button {
    width: 20%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(246, 177, 50);
    color: #ffff;
    outline: none;
}

.box-check-email-forgot-password button:active {
    background-color: rgb(247, 210, 142);
}

.time-picker-later-forgot-password {
    font-size: 15px;
}

.send-mail-again-pin {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}