.video-hotel {
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 800;
}

.video-hotel .video {
    width: 100%;
    height: 100%;
}

.video-hotel .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}