<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      .image-intercontinental-register {
        width: 300px;
        height: 250px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="confirm-register">
      <div class="header-confirm-register"></div>
      <div class="body-confirm-register">
        <div class="box-confirm-register">
          <div class="image-confirm-register">
            <img
              class="image-intercontinental-register"
              src="https://th.bing.com/th/id/R.dac6ac7b9b93ade37f386b44c27fa8e0?rik=7fkA4FhB0QWV8g&pid=ImgRaw&r=0"
            />
          </div>
          <h1 class="content-header-comfirm-register">Welcome!</h1>
          <div class="content-confirm-register">
            <p>
              We're excited to have you get started. First, you need to confirm
              your account. Just press the button below.
            </p>
          </div>
          <img
            class="image-welcome-register"
            src="https://www.wilsoninfo.com/welcome/2019-children-welcome-sign-clipart.jpg"
            alt=""
          />
          <div>
            <p>
              If that doesn't work, copy and paste the following link in your
              browser:
            </p>
          </div>
          <div>
            <p>
              If you have any questions, just reply to this email—we're always
              happy to help out.
            </p>
          </div>
          <div>
            <p>Cheers,</p>
          </div>
          <div>
            <p>GoSnippets Team</p>
          </div>
        </div>
        <div class="footer-confirm-register">
          <p>Need more help?</p>
          <a>We’re here to help you out!</a>
        </div>
        <div class="last-content-confirbm-register">
          <p>If these emails get annoying, please feel free to unsubscribe.</p>
        </div>
        <div></div>
      </div>
    </div>
  </body>
</html>
