<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="send-code.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="confirm-register">
      <div class="header-confirm-register"></div>
      <div class="body-confirm-register">
        <div class="box-confirm-register">
          <div class="image-confirm-register">
            <img
              style="width: 400px; height: 300px; object-fit: cover"
              src="https://th.bing.com/th/id/R.dac6ac7b9b93ade37f386b44c27fa8e0?rik=7fkA4FhB0QWV8g&pid=ImgRaw&r=0"
            />
          </div>
          <h1 class="content-header-comfirm-register">Hello!</h1>
          <div class="content-confirm-register">
            <p>
              We're excited to have you get started. First, you need to enter
              pin to change your password. Just press the button below.
            </p>
          </div>
          <strong class="send-code-change-password"><%= pin%></strong>
          <div>
            <p>This is the pin code you need to change your password</p>
          </div>
          <div>
            <p>
              If you have any questions, just reply to this email—we're always
              happy to help out.
            </p>
          </div>
          <div>
            <p>Cheers,</p>
          </div>
          <div>
            <p>GoSnippets Team</p>
          </div>
        </div>
        <div class="footer-confirm-register">
          <p>Need more help?</p>
          <a>We’re here to help you out!</a>
        </div>
        <div class="last-content-confirbm-register">
          <p>If these emails get annoying, please feel free to unsubscribe.</p>
        </div>
        <div></div>
      </div>
    </div>
  </body>
</html>
