.table-image-room-comment {
    width: 100%;
    border-radius: 10px;
}


.table-image-room-comment .list-image-slide-comment {
    width: 100%;
    border-radius: 10px;
}

.table-image-room-comment .list-image-slide-comment img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}