.form-control:focus {
    box-shadow: none;
    border-color: #c7c5c8
}

.form-control {
    font-size: 12px;
    padding: 15px 0 15px 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rounded-circle {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.profile-button {
    background: rgb(221, 219, 222);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(221, 219, 222);
}

.profile-button:focus {
    background: rgb(221, 219, 222);
    box-shadow: none
}

.profile-button:active {
    background: rgb(221, 219, 222);
    box-shadow: none
}

.back:hover {
    background: rgb(221, 219, 222);
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgb(221, 219, 222);
    color: #fff;
    cursor: pointer;
    background: rgb(221, 219, 222);
}

.card-image-profile-user {
    position: relative;
}

.click-edit-profile-user {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.click-edit-profile-user .edit-upload-image-profile,
.show-image-user-profile {
    cursor: pointer;
}

.click-edit-profile-user .edit-upload-image-profile:hover {
    color: black;
}

.click-edit-profile-user .show-image-user-profile:hover {
    color: black;
}

.handle-upload-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.handle-upload-image .box-handle-upload-image {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    flex-direction: column;
    border-radius: 15px;
    row-gap: 20px;
    position: relative;
}

.handle-upload-image .box-handle-upload-image .btn-upload-image-user-profile {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.handle-upload-image .box-handle-upload-image img {
    border-radius: 15px;
}

.handle-upload-image .box-handle-upload-image .btn-upload-image-user-profile:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.handle-upload-image .box-handle-upload-image .btn-upload-image-user-profile:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.handle-upload-image .close-preview-profile {
    position: absolute;
    top: 10px;
    right: 13px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #ffff;
}

.close-card-profile-user {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
}

.container {
    position: relative;
    -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-20 20:36:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.image-coin-voucher {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.box-coin-of-user-in-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-coin-of-user-in-profile .count-coin-and-content {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 7px;
}

.box-coin-of-user-in-profile .count-coin-and-content p {
    padding-top: 12px;
    font-size: 20px;
}

.box-coin-of-user-in-profile .count-coin-and-content .count-coin-number {
    color: orange;
}

.box-coin-of-user-in-profile .count-coin-and-content .content-check-count {
    font-size: 15px;
    color: rgb(248, 185, 68);
}

.image-large-coin {
    width: 200px;
    height: 150px;
    object-fit: cover;
}