.confirm-register {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.3px;
    background-color: rgb(244, 244, 244);
}

.confirm-register .header-confirm-register {
    height: 400px;
    width: 100%;
    background-color: rgb(255, 167, 59);
}

.confirm-register .body-confirm-register {
    width: 40%;
    position: absolute;
    top: 50px;
    margin: 0 auto;
    left: 30%;
    z-index: 1000;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.confirm-register .body-confirm-register .box-confirm-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
}

.confirm-register .body-confirm-register div {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.confirm-register .body-confirm-register .image-confirm-register {
    width: 50%;
    height: 25%;
}

.confirm-register .body-confirm-register .image-confirm-register img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.confirm-register .footer-confirm-register {
    width: 100%;
    height: 100px;
    background-color: rgb(246, 215, 178);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.confirm-register .footer-confirm-register a {
    color: rgb(253, 155, 35);
    text-decoration: underline;
    cursor: pointer;
}

.confirm-register .body-confirm-register .content-header-comfirm-register {
    font-size: 60px;
    color: black;
    margin-bottom: 30px;
}

.confirm-register .body-confirm-register .image-welcome-register {
    margin: 50px 0;
}

.confirm-register .last-content-confirm-register {
    width: 100%;
    font-size: 12px;
    padding-left: 20px;
    color: black;
}